* {
    box-sizing: border-box;
}

body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.description-container {
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #5f9ea0;
    border-radius: 10px;
    margin-top: 5%;
}

.description-container > p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.button-container {
    margin-top: 20px;
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    margin-bottom: 20px;
    width: 100%;
    height: 30%;
    background-color: #5f9ea0;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.button:link,
.button:visited,
.button:active {
    text-decoration: none;
    color: white;
}

.button:hover {
    color: #5f9ea0;
    background-color: white;
    border: 3px solid #5f9ea0;
}

@media (max-width: 426px) {
    .description-container,
    .button-container {
        width: 100%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

